<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>
    <h1>Welcome <%= username %></h1>
    <img src="https://images.unsplash.com/photo-1741788863558-a4ff13cbf815?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="fb" style="height: 250px; width: 200px;">
    <h2>Your friends:</h2>
    <ul>
    <% for(frnds of friends){ %>
        <li><%= frnds %></li>
   <% } %>
    </ul>
</body>
</html>